@import "../../variables/colors";

.navigation {

  &__list {

    list-style: none;
    padding: 0;
    display: flex;

  }
  &__el {

    padding: 20px;

    & a {

      color: $secondary;
      text-decoration: none;
      font-family: sans-serif;

    }

  }

}