@import "../../variables/colors";
.todo {

  list-style: none;
  padding: 32px;
  border-radius: 16px;
  background-color: $secondary;
  margin-right: 32px;

  &:last-child {

    margin-right: 0;

  }

  &__h2 {

    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 400;

  }

  &__list {

    list-style: none;
    margin: 0;
    padding: 0;

  }
  &__content {

    display: flex;
    align-items: center;

  }
  &__el {

    padding: 16px;
    width: 250px;
    border-radius: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {

      background-color: rgba($primary, .4);

      &::after {

        content: '';
        display: block;
        opacity: .3;
        position: absolute;
        top: -2px;
        left: 0;
        filter: blur(30px);
        width: 56px;
        height: 56px;
        background-color: $basic;
        z-index: 0;

      }

    }
    &.-low {

      &::after {

        background-color: $low;

      }

    }
    &.-high {

      &::after {

        background-color: $high;

      }

    }

  }
  &__priority {

    height: 8px;
    width: 8px;
    border: 2px solid $basic;
    display: inline-block;
    border-radius: 4px;

    &.-low {

      border-color: $low;

    }
    &.-high {

      border-color: $high;

    }

  }
  &__title {

    margin-left: 16px;

  }

}