@import "../../variables/colors";
BODY {

  font-family: 'Outfit', sans-serif;
  background-color: $primary;
  opacity: 1 !important;

}
H1 {

  color: $primary;

}
.container {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.containerWindow {

  padding: 56px;
  background-color: white;
  border-radius: 32px;
  position: relative;

  .header {

    display: flex;
    align-items: center;
    margin-bottom: 32px;

    h1 {

      font-size: 32px;
      margin: 0;
      color: black;

    }
    span {

      display: block;
      margin-left: 16px;
      font-weight: 400;
      color: #3F6CDF;

    }

  }

  .bullet {

    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;

    &__icon {

      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: white;
      margin-right: 6px;

    }
    &__close {

      background-color: #FE6158;

    }
    &__resize {

      background-color: #FDBE30;

    }
    &__full {

      background-color: #29C840;

    }

  }

}
.containerList {

  display: flex;
  justify-content: center;
  align-items: stretch;

}