<section class="orc-carouselCard container-lg d-none">
    <div class="container carousel-nav js-carousel-text">
        <div id="card-1" class="nav-cell text-center mt-16 show-m" data-card="card-1">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A recipe</h2>
            </div>
            <p>The recipe you'll be craving for in 2022
            </p>
        </div>
        <div id="card-2" class="nav-cell text-center mt-16" data-card="card-2">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A beverage</h2>
            </div>
            <p>The beverage you won't miss an occasion to drink in 2022</p>
        </div>
        <div id="card-3" class="nav-cell text-center mt-16" data-card="card-3">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">An object</h2>
            </div>
            <p>The object you'll be proud to own in 2022</p>
        </div>
        <div id="card-4" class="nav-cell text-center mt-16" data-card="card-4">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A series</h2>
            </div>
            <p>The series you missed in 2021 but that you will recommend like crazy in 2022</p>
        </div>
        <div id="card-5" class="nav-cell text-center mt-16" data-card="card-5">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A mantra</h2>
            </div>
            <p>The mantra that will drive your wisdom in 2022</p>
        </div>
        <div id="card-6" class="nav-cell text-center mt-16"data-card="card-6">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A song</h2>
            </div>
            <p>The song that will put you in the mood in 2022</p>
        </div>
        <div id="card-7" class="nav-cell text-center mt-16" data-card="card-7">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A game</h2>
            </div>
            <p>The game that will bring you joy in 2022</p>
        </div>
        <div id="card-8" class="nav-cell text-center mt-16" data-card="card-8">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">An app</h2>
            </div>
            <p>The app you won't stop using in 2022</p>
        </div>
    </div>

    <div class="main-carousel js-main-carousel">

        {% include 'card.twig' with {
            'id':1,
            'type' : 'recipe',
            'icon' : '-snow',
            'color' : 'secondary'
        } %}

        {% include 'card.twig' with {
            'id':2,
            'type' : 'beverage',
            'icon' : '-star',
            'color' : 'warning'
        } %}

        {% include 'card.twig' with {
            'id':3,
            'type' : 'object',
            'icon' : '-snow',
            'color' : 'info'
        } %}

        {% include 'card.twig' with {
            'id':4,
            'type' : 'series',
            'icon' : '-star',
            'color' : 'success'
        } %}

        {% include 'card.twig' with {
            'id':5,
            'type' : 'mantra',
            'icon' : '-snow',
            'color' : 'error'
        } %}

        {% include 'card.twig' with {
            'id':6,
            'type' : 'song',
            'icon' : '-star',
            'color' : 'info'
        } %}

        {% include 'card.twig' with {
            'id':7,
            'type' : 'game',
            'icon' : '-snow',
            'color' : 'success'
        } %}

        {% include 'card.twig' with {
            'id':8,
            'type' : 'app',
            'icon' : '-star',
            'color' : 'warning'
        } %}

    </div>
    <div class="orc-card__text text-center">
        <p class="js-prediction-text">Here are your predictions for 8 thematics. <span class="d-lg-block">Start the experience by clicking on one of your card!</span>
        </p>
    </div>
{#    Pour la fin de l'expérience pour faire apparaitre le texte il faut
    ajouter la class "-end-exp" à la div "orc-wish" quand toutes les
      cartes ont la class "-opened"#}
    <div class="orc-wish container d-none js-wish">
        <div class="row">
            <div class="col col-lg-10 mx-auto">
                <div class="orc-wish__subTitle">Nice prediction !</div>
                <h2 class="orc-wish__title">We wish you a <span class="text-primary">happy new year!</span></h2>
                <div class="orc-wish__containerLink d-flex flex-lg-row-reverse justify-content-lg-end align-items-center mt-16 mt-lg-32">
                    <a class="orc-wish__link js-share">Spread the prophecy</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="41" viewBox="0 0 42 41"><g fill="#FFF" fill-rule="evenodd"><path d="M16,1 C16.5128358,1 16.9355072,1.38604019 16.9932723,1.88337887 L17,2 L17,13.583 L23.292956,7.29283043 C23.683515,6.90234082 24.31668,6.90239704 24.7071696,7.29295601 C25.0976592,7.68351498 25.097603,8.31667996 24.707044,8.70716957 L18.413,15 L30,15 C30.5522847,15 31,15.4477153 31,16 C31,16.5128358 30.6139598,16.9355072 30.1166211,16.9932723 L30,17 L18.414,17 L24.707044,23.2928304 L24.790241,23.3870304 C25.0953007,23.7792945 25.0676215,24.346528 24.7071696,24.707044 C24.31668,25.097603 23.683515,25.0976592 23.292956,24.7071696 L23.292956,24.7071696 L17,18.416 L17,30 C17,30.5522847 16.5522847,31 16,31 C15.4871642,31 15.0644928,30.6139598 15.0067277,30.1166211 L15,30 L15,18.412 L8.70420204,24.7071696 C8.31364307,25.0976592 7.68047809,25.097603 7.28998848,24.707044 C6.92953653,24.346528 6.90185737,23.7792945 7.20691709,23.3870304 L7.29011407,23.2928304 L13.583,17 L2,17 C1.44771525,17 1,16.5522847 1,16 C1,15.4871642 1.38604019,15.0644928 1.88337887,15.0067277 L2,15 L13.584,15 L7.29011407,8.70716957 C6.92959809,8.34671762 6.90181819,7.77948903 7.20680824,7.38717074 L7.28998848,7.29295601 C7.68047809,6.90239704 8.31364307,6.90234082 8.70420204,7.29283043 L8.70420204,7.29283043 L15,13.587 L15,2 C15,1.44771525 15.4477153,1 16,1 Z" transform="translate(10)"/><path d="M6.125,0.375 C6.38141792,0.375 6.59275358,0.519765071 6.62163613,0.706267078 L6.625,0.75 L6.625,4.843 L8.73485851,2.73481141 C8.88131812,2.58837781 9.11875499,2.58839889 9.26518859,2.73485851 C9.41162219,2.88131812 9.41160111,3.11875499 9.26514149,3.26518859 L6.905,5.625 L11.25,5.625 C11.4571068,5.625 11.625,5.84885763 11.625,6.125 C11.625,6.38141792 11.4802349,6.59275358 11.2937329,6.62163613 L11.25,6.625 L7.156,6.625 L9.26514149,8.73481141 L9.29634036,8.77013639 C9.41073776,8.91723544 9.40035807,9.129948 9.26518859,9.26514149 C9.11875499,9.41160111 8.88131812,9.41162219 8.73485851,9.26518859 L8.73485851,9.26518859 L6.625,7.156 L6.625,11.25 C6.625,11.4571068 6.40114237,11.625 6.125,11.625 C5.86858208,11.625 5.65724642,11.4802349 5.62836387,11.2937329 L5.625,11.25 L5.625,6.904 L3.26407576,9.26518859 C3.11761615,9.41162219 2.88017928,9.41160111 2.73374568,9.26514149 C2.5985762,9.129948 2.58819651,8.91723544 2.70259391,8.77013639 L2.73379277,8.73481141 L4.842,6.625 L0.75,6.625 C0.542893219,6.625 0.375,6.40114237 0.375,6.125 C0.375,5.86858208 0.519765071,5.65724642 0.706267078,5.62836387 L0.75,5.625 L5.093,5.625 L2.73379277,3.26518859 C2.60825596,3.13967407 2.59030664,2.94730001 2.67995499,2.80266639 L2.73374568,2.73485851 C2.88017928,2.58839889 3.11761615,2.58837781 3.26407576,2.73481141 L3.26407576,2.73481141 L5.625,5.095 L5.625,0.75 C5.625,0.542893219 5.84885763,0.375 6.125,0.375 Z" transform="translate(0 29)"/></g></svg>
                </div>
            </div>
        </div>
    </div>
</section>