<section class="container-lg d-none">
    <div class="carousel-nav">
        <div id="card-1" class="nav-cell text-center mt-16 show-m" data-card="card-1">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 1</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-2" class="nav-cell text-center mt-16" data-card="card-2">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 2</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-3" class="nav-cell text-center mt-16" data-card="card-3">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 3</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-4" class="nav-cell text-center mt-16" data-card="card-4">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 4</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-5" class="nav-cell text-center mt-16" data-card="card-5">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 5</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-6" class="nav-cell text-center mt-16"data-card="card-6">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 6</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-7" class="nav-cell text-center mt-16" data-card="card-7">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 7</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
        <div id="card-8" class="nav-cell text-center mt-16" data-card="card-8">
            <div class="orc-card__container-title d-inline-block">
                <h2 class="orc-card__title">A serie 8</h2>
            </div>
            <p>You missed in 2021 but that you will recommend like crazy in 2022
            </p>
        </div>
    </div>
    <div class="main-carousel">
        <div class="carousel-cell" data-card="card-1">
            <img src="../assets/cards/avec_icone/app.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-2">
            <img src="../assets/cards/avec_icone/beverage.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-3">
            <img src="../assets/cards/avec_icone/game.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-4">
            <img src="../assets/cards/avec_icone/mantra.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-5">
            <img src="../assets/cards/avec_icone/object.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-6">
            <img src="../assets/cards/avec_icone/recipe.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-7">
            <img src="../assets/cards/avec_icone/series.svg" alt="">
        </div>
        <div class="carousel-cell" data-card="card-8">
            <img src="../assets/cards/avec_icone/song.svg" alt="">
        </div>
    </div>
    <div class="orc-card__text text-center">
        <p>Here are your predictions for 8 thematics. <span class="d-lg-block">Start the experience by clicking on one of your card!</span>
        </p>
    </div>
</section>