<section class="orc-hero container d-none">
    <div class="orc-hero__container">
        <img class="orc-hero__icon" src="assets/icons/Stars/group_square_star_2.svg" alt="">
        <h1 class="orc-hero__title">What will be your go-tos for 2022? Draw your cards.
        </h1>
        <div class="mt-32 position-relative">
            <img class="orc-hero__icon-2" src="assets/icons/Stars/group_star.svg" alt="">
            <p>To wish you all a happy new year we built this little Fortune Teller tool to make you a custom prediction of soon-to-be-trendy things you’ll love in 2022. Enjoy!
            </p>
        </div>
        <div class="d-flex align-items-center mt-32 mb-104">
            <input type="name" class="orc-hero__input" id="name" placeholder="What's your name ?">
            <a class="orc-hero__predict" href="fall-cards.twig">
                Predict!
            </a>
        </div>
    </div>
</section>