<section class="orc-hero container d-none">
    <div class="orc-hero__container">
        <img class="orc-hero__icon" src="assets/icons/Stars/group_square_star_2.svg" alt="">
        <h1 class="orc-hero__title">
            <span class="div-overflow"><span class="text-apparition">What</span></span>
            <span class="div-overflow"><span class="text-apparition intro-1">will</span></span>
            <span class="div-overflow"><span class="text-apparition intro-2">be</span></span>
            <span class="div-overflow"><span class="text-apparition intro-3">your</span></span>
            <span class="div-overflow"><span class="text-apparition intro-4">go-tos</span></span>
            <span class="div-overflow"><span class="text-apparition intro-5">for</span></span>
            <span class="div-overflow"><span class="text-apparition intro-6">2022?</span></span>
            <span class="div-overflow"><span class="text-apparition intro-7">Consult</span></span>
            <span class="div-overflow"><span class="text-apparition intro-8">our</span></span>
            <span class="div-overflow"><span class="text-apparition intro-9">oracle.</span></span>
        </h1>
        <div class="mt-32 position-relative fadeIn">
            <img class="orc-hero__icon-2" src="assets/icons/Stars/group_star.svg" alt="">
            <p>To wish you all a happy new year we built this little Oracle App to make you a custom prediction of soon-to-be-trendy things you’ll love in 2022. Enjoy!
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-sm-start flex-wrap mt-16 mt-sm-32 mb-32 fadeIn">
            <input type="name" class="orc-hero__input js-predict-username" id="name" placeholder="What's your name ?">
            <a class="orc-hero__predict js-predict disabled my-16">
                Predict!
            </a>
        </div>
    </div>
</section>