<section class="orc-message container mb-104 d-none">
    <div class="row">
        <div class="position-relative mt-80 mt-lg-104 col col-lg-10 mx-auto">
            <img class="orc-message__star" src="assets/icons/Stars/group_star.svg" alt="">
            <div class="mt-16">
                <h1 class="orc-message__title">
                    <span class="div-overflow d-flex"><span class="text-apparition d-inline-block">Hmmm</span>
                        <span class="text-apparition d-inline-block bullet-1">.</span>
                        <span class="text-apparition d-inline-block bullet-2">.</span>
                        <span class="text-apparition d-inline-block bullet-3">.</span>
                    </span>
                    <span class="div-overflow"><span class="text-apparition word-1">I</span></span>
                    <span class="div-overflow"><span class="text-apparition word-2">can</span></span>
                    <span class="div-overflow"><span class="text-apparition word-3">see</span></span>
                    <span class="div-overflow"><span class="text-apparition word-4">that</span></span>
                    <span class="div-overflow"><span class="text-apparition word-5">you're</span></span>
                    <span class="div-overflow"><span class="text-apparition word-6">gonna</span></span>
                    <span class="div-overflow"><span class="text-apparition word-7">have</span></span>
                    <span class="div-overflow"><span class="text-apparition word-8">a</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-9">lot</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-10">of</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-11">fun</span></span>
                    <span class="div-overflow"><span class="text-apparition word-12">in</span></span>
                    <span class="div-overflow"><span class="text-apparition word-13">2022!</span></span>
                </h1>
            </div>
            <img class="ml-auto d-block orc-message__star-2" src="assets/icons/Stars/group_square_star_2.svg" alt="">
        </div>
    </div>
</section>