<section class="orc-message container d-none">
    <div class="row">
        <div class="position-relative col col-lg-10 mx-auto">
            <svg class="orc-message__star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47" height="41" viewBox="0 0 47 41">
                <defs><polygon id="a" points="0 0 32 0 32 32 0 32"/><polygon id="c" points="0 0 12 0 12 12 0 12"/><polygon id="e" points="0 0 9 0 9 9 0 9"/></defs><g fill="none" fill-rule="evenodd">
                    <g class="orc-message__star-1" transform="translate(9 6)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#FFF" d="M16.999876,0.999907695 C16.999876,8.62742224 23.0997709,14.830235 30.6873198,14.9964857 L30.9999625,14.9999077 L30.9999625,16.9999077 C23.3725215,16.9999077 17.169553,23.0996459 17.0032981,30.6872621 L16.999876,30.9999077 L14.999876,30.9999077 C14.999876,23.3723029 8.9003131,17.169578 1.31286097,17.0033297 L1.00022211,16.9999077 L1.00022211,14.9999077 C8.62757293,14.9999077 14.8302081,8.90025848 14.996454,1.3125569 L14.999876,0.999907695 L16.999876,0.999907695 Z M15.999,6.578 L15.9639489,6.67584644 C14.3431987,10.9466177 10.9466879,14.3431881 6.6760163,15.9639646 L6.579,15.999 L6.6760163,16.0358508 C10.9466879,17.6566273 14.3431987,21.0531977 15.9639489,25.3239689 L15.999,25.42 L16.0358507,25.3239989 C17.6566717,21.0532376 21.0533175,17.656648 25.324082,16.0358595 L25.421,15.999 L25.324082,15.9639558 C21.0533175,14.3431673 17.6566717,10.9465778 16.0358507,6.67581653 L15.999,6.578 Z" mask="url(#b)"/></g>
                    <g class="orc-message__star-2" transform="translate(35)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path fill="#FFF" d="M6.37495349,0.374965385 C6.37495349,3.23528334 8.66241409,5.56133811 11.5077449,5.62368212 L11.6249859,5.62496539 L11.6249859,6.37496539 C8.76469555,6.37496539 6.43858238,8.66236721 6.37623678,11.5077233 L6.37495349,11.6249654 L5.62495349,11.6249654 C5.62495349,8.7646136 3.33761741,6.43859174 0.492322865,6.37624863 L0.375083291,6.37496539 L0.375083291,5.62496539 C3.23533985,5.62496539 5.56132804,3.33759693 5.62367026,0.492208839 L5.62495349,0.374965385 L6.37495349,0.374965385 Z M5.999625,2.46675 L5.98648084,2.50344242 C5.37869953,4.10498164 4.10500795,5.37869555 2.50350611,5.98648672 L2.467125,5.999625 L2.50350611,6.01344405 C4.10500795,6.62123522 5.37869953,7.89494913 5.98648084,9.49648836 L5.999625,9.5325 L6.01344401,9.49649957 C6.6212519,7.89496411 7.89499405,6.62124302 9.49653075,6.01344733 L9.532875,5.999625 L9.49653075,5.98648344 C7.89499405,5.37868775 6.6212519,4.10496666 6.01344401,2.5034312 L5.999625,2.46675 Z" mask="url(#d)"/></g>
                    <g class="orc-message__star-3" transform="translate(0 32)"><mask id="f" fill="#fff"><use xlink:href="#e"/></mask><path fill="#FFF" d="M4.78121512,0.281224039 C4.78121512,2.42646251 6.49681056,4.17100358 8.63080869,4.21776159 L8.71873945,4.21872404 L8.71873945,4.78122404 C6.57352166,4.78122404 4.82893678,6.49677541 4.78217759,8.63079246 L4.78121512,8.71872404 L4.21871512,8.71872404 C4.21871512,6.5734602 2.50321306,4.82894381 0.369242149,4.78218647 L0.281312468,4.78122404 L0.281312468,4.21872404 C2.42650489,4.21872404 4.17099603,2.5031977 4.2177527,0.369156629 L4.21871512,0.281224039 L4.78121512,0.281224039 Z M4.49971875,1.8500625 L4.48986063,1.87758181 C4.03402465,3.07873623 3.07875596,4.03402166 1.87762958,4.48986504 L1.85034375,4.49971875 L1.87762958,4.51008304 C3.07875596,4.96592642 4.03402465,5.92121185 4.48986063,7.12236627 L4.49971875,7.149375 L4.510083,7.12237468 C4.96593893,5.92122308 5.92124554,4.96593226 7.12239806,4.5100855 L7.14965625,4.49971875 L7.12239806,4.48986258 C5.92124554,4.03401581 4.96593893,3.078725 4.510083,1.8775734 L4.49971875,1.8500625 Z" mask="url(#f)"/></g></g>
            </svg>
            <div class="mt-16">
                <h1 class="orc-message__title">
                    <span class="div-overflow d-flex"><span class="text-apparition d-inline-block">Hmmm</span>
                        <span class="text-apparition d-inline-block bullet-1">.</span>
                        <span class="text-apparition d-inline-block bullet-2">.</span>
                        <span class="text-apparition d-inline-block bullet-3">.</span>
                    </span>
                    <span class="div-overflow"><span class="text-apparition word-1">I</span></span>
                    <span class="div-overflow"><span class="text-apparition word-2">can</span></span>
                    <span class="div-overflow"><span class="text-apparition word-3">see</span></span>
                    <span class="div-overflow"><span class="text-apparition word-4">that</span></span>
                    <span class="div-overflow"><span class="text-apparition word-5">you're</span></span>
                    <span class="div-overflow"><span class="text-apparition word-6">gonna</span></span>
                    <span class="div-overflow"><span class="text-apparition word-7">have</span></span>
                    <span class="div-overflow"><span class="text-apparition word-8">a</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-9">lot</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-10">of</span></span>
                    <span class="div-overflow"><span class="text-apparition text-green word-11">fun</span></span>
                    <span class="div-overflow"><span class="text-apparition word-12">in</span></span>
                    <span class="div-overflow"><span class="text-apparition word-13">2022!</span></span>
                </h1>
            </div>
            <img class="ml-auto d-block orc-message__star-2" src="assets/icons/Stars/group_square_star_2.svg" alt="">
        </div>
    </div>
</section>