<section class="container mb-104 d-none">
    <div class="row">
        <div class="position-relative mt-80 mt-lg-104 col col-lg-10 mx-auto">
            <img class="orc-message__star" src="assets/icons/Stars/group_star.svg" alt="">
            <div class="mt-16">
                <h1 class="orc-message__title"><span class="d-block">Hmmmm…</span> I can see that you gonna have a <span class="text-green">lot of fun</span> in 2022!
                </h1>
            </div>
            <img class="ml-auto d-block orc-message__star-2" src="assets/icons/Stars/group_square_star_2.svg" alt="">
        </div>
    </div>
</section>