<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__el">
            <a href="index.html">Home</a>
        </li>
        <li class="navigation__el">
            <a href="about.html">About</a>
        </li>
    </ul>
</nav>