<div class="todo">
    <h2 class="todo__h2">To do</h2>
    <ul class="todo__list js-category">
        <li class="todo__el -high js-element">
            <div class="todo__content">
                <span class="todo__priority -high"></span>
                <span class="todo__title">Personnal</span>
            </div>
        </li>
        <li class="todo__el js-element">
            <div class="todo__content">
                <span class="todo__priority"></span>
                <span class="todo__title">Work</span>
            </div>
            <span class="badge"></span>
        </li>
        <li class="todo__el -low js-element">
            <div class="todo__content">
                <span class="todo__priority -low"></span>
                <span class="todo__title">Errands</span>
            </div>
        </li>
        <li class="todo__el js-element">
            <div class="todo__content">
                <span class="todo__priority"></span>
                <span class="todo__title">Faire les courses</span>
            </div>
        </li>
        <li class="todo__el -high js-element">
            <div class="todo__content">
                <span class="todo__priority -high"></span>
                <span class="todo__title">Donner à manger au chien</span>
            </div>
        </li>
    </ul>
</div>