<div class="todo">
    <div class="todo__header">
        <div class="todo__top">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15.728 9.686l-1.414-1.414L5 17.586V19h1.414l9.314-9.314zm1.414-1.414l1.414-1.414-1.414-1.414-1.414 1.414 1.414 1.414zM7.242 21H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 21z"/></svg>
            </div>
            <div class="todo__titleTop">
                <h2 class="todo__h2">To do</h2>
                <span>5 tasks</span>
            </div>
        </div>
        <div class="todo__badges">
            <span class="badge -high">2 High</span>
            <span class="badge -low">2 Low</span>
            <span class="badge -medium">1 Medium</span>
        </div>
    </div>
    <ul class="todo__list js-category" >
        <li class="todo__el -high js-element" draggable="true">
            <div class="todo__content">
                <span class="todo__priority -high"></span>
                <span class="todo__title">Personnal</span>
            </div>
            <span class="bulletTask -low"></span>
        </li>
        <li class="todo__el js-element" draggable="true">
            <div class="todo__content">
                <span class="todo__priority"></span>
                <span class="todo__title">Work</span>
            </div>
            <span class="bulletTask -high"></span>
        </li>
        <li class="todo__el -low js-element" draggable="true">
            <div class="todo__content">
                <span class="todo__priority -low"></span>
                <span class="todo__title">Errands</span>
            </div>
            <span class="bulletTask -high"></span>
        </li>
        <li class="todo__el js-element" draggable="true">
            <div class="todo__content">
                <span class="todo__priority"></span>
                <span class="todo__title">Faire les courses</span>
            </div>
            <span class="bulletTask -medium"></span>
        </li>
        <li class="todo__el -high js-element" draggable="true">
            <div class="todo__content">
                <span class="todo__priority -high"></span>
                <span class="todo__title">Donner à manger au chien</span>
            </div>
            <span class="bulletTask -low"></span>
        </li>
    </ul>
</div>