$primary: #9694E9;
$primary-10: #f5f4fd;
$primary-20: #eaeafb;
$primary-30: #6968a3;
$primary-50: #4b4a75;
$secondary: #F5F9F9;
$success: #00AF91;
$success-20: #006957;
$success-10: #66cfbd;
$danger: #FF5DA2;
$danger-20: #993861;
$danger-10: #ffaed1;
$warning: #FFC764;
$warning-20: #99773c;
$warning-10: #ffdda2;