<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oracle by Apart</title>

    <link rel="stylesheet" type="text/css" href="https://clients.apart.lu/apart-styleguide/css/styles.css" media="all">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
</head>

{#Pour changer de state il faut changer de class sur le body :
landing -> landing page
message -> transition page message
carousel -> page avec le carousel de card
body-card -> page d'une carte ouverte
#}
<body class="landing">

<div class="d-none d-lg-block cursor"></div>

{% include 'partials/video.twig' %}

{% include 'partials/header.twig' %}

<main>

    {% include 'partials/modal.twig' %}

    {% include 'partials/landing.twig' %}

    {% include 'partials/message.twig' %}

    {% include 'partials/carousel-cards.twig' %}

    {% include 'partials/card-open.twig' %}


</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
</body>
</html>