<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="landing">

<main>

    {% include 'partials/landing.twig' %}

</main>

</body>
</html>