<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oracle by Apart</title>

    <link rel="stylesheet" type="text/css" href="https://clients.apart.lu/apart-styleguide/css/styles.css" media="all">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body class="carousel">

{% include 'partials/video.twig' %}

{% include 'partials/header.twig' %}

<main>

    {% include 'partials/landing.twig' %}

    {% include 'partials/message.twig' %}

    {% include 'partials/carousel-cards.twig' %}

    {% include 'partials/card-open.twig' %}


</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>